{
	# Configure the global logger
	log {
		# Set the log level to debug
		level info

		# Output to a file
		#		output file /storage/caddy/caddy.log {
		#			# Optional: Configure log rotation
		#			roll_size 5mb # Rotate when the file reaches 10 MB
		#			roll_keep 3 # Keep at most 3 rotated log files
		#		}
	}

	# Set the path for Caddy's data, including certificates and autosave
	# This must be a writable location on LibreELEC
	storage file_system {
		root /storage/caddy/data
	}
}

http://localhost {
	reverse_proxy https://mywebdav.mydomain.com:443 {
		# Pass the Authorization header (webdav credentials) from the client to the upstream
		header_up Authorization {http.request.header.Authorization}

		# Override the Host HTTP header so that Traefik knows which router to trigger
		header_up Host mywebdav.mydomain.com

		transport http {
			# Hostname Caddy should use to verify the Traefik provided TLS cert with
			tls_server_name mywebdav.mydomain.com

			# Tell Caddy where the mTLS handshake client cert and key is
			tls_client_auth /storage/caddy/mTLS_certs/mycertificate.crt /storage/caddy/mTLS_certs/mycertificate.key
		}
	}
}
